<nav class="container mt-4 navbar navbar-expand-lg bg-success align-items-center">
    <div class="container-fluid">
      <a class="navbar-brand text-white fw-bold " routerLink="/">Cooke Media <i class="fa-solid fa-cookie-bite"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex align-items-center" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0 text-light">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/allrecipes">Recipes</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link text-light" aria-disabled="true" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" aria-disabled="true" routerLink="/contact">Contact</a>
          </li>
        </ul>
       
        <div class="dropdown">
         
            <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              @if (isLoggedIN) {
                <span class="me-2">Hi,{{loggedUserName}}</span>
              }
                <i class="fa-solid fa-user"></i>
            </button>
            <ul class="dropdown-menu">
              @if (isLoggedIN) {
                <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
                <li><a class="dropdown-item" routerLink="/savedrecipes">Saved Recipes</a></li>
                <li><button class="btn"><i class="fa-solid fa-right-from-bracket"></i>  Logout</button></li>
              }@else {
                <li><a class="dropdown-item" routerLink="/login">Login</a></li>
              <li><a class="dropdown-item" routerLink="/register">Register</a></li>
              }
              
            </ul>
          </div>
      </div>
    </div>
  </nav>